@import './variables';

footer {
	background-color: $color-bg-light;
	border-top: 1px solid $color-border;
	margin-top: auto;
	padding: $spacing-md 0;
}

.footer-container {
	max-width: $max-width;
	margin: 0 auto;
	padding: 0 $spacing-md;
	text-align: center;
	color: $color-text-light;
}
