---
---

<header>
	<nav>
		<div class="nav-container">
			<a href="/" class="logo">Sharero</a>
			<ul class="nav-links">
				<li><a href="/">ホーム</a></li>
				<li><a href="#about">会社概要</a></li>
				<li><a href="#achievements">事業実績</a></li>
			</ul>
		</div>
	</nav>
</header>
